.Add {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .Add div {
    margin-bottom: 10px;
  }
  
  .Add label {
    font-weight: bold;
  }
  
  .textArea, .ContentArea {
    width: 100%;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .ContentArea {
    height: 80vh;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  